/* Dodatkowe style dla iframe */
iframe {
  /* ... (istniejące style) */

  /* Dodatkowe style */
  margin-bottom: 20px; /* Dodatkowy margines na dole każdego iframe */
  background-color: rgba(255, 255, 255, 0.1); /* Przezroczyste tło iframe */
}

/* Styl dla linków w ciele strony */
body a {
  color: #ffcc00; /* Kolor linków */
  text-decoration: none; /* Usunięcie podkreślenia */
  font-weight: bold; /* Pogrubienie tekstu linków */
}

/* Styl dla nagłówka h1 */
h1 {
  font-size: 24px; /* Rozmiar czcionki nagłówka h1 */
}
